.animate{
  animation: fadetrans 3s ease-in;
}
@keyframes fadetrans {
  0% {opacity: 0; 
    transform: translate(0px,20px);}
  100%{ opacity: 1; 
    transform: translate(0px,0px);}
}

div{
  text-align: center;
  vertical-align: middle;
  line-height: 720px;
  font-size: 4rem;
}