.expenseholder {
  background-color: #eaf4ff;
  height: 90%;
  width: 70%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  left: 2%;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  overflow: auto;
}
.menu {
  background-color: #f4f4f4;
  height: 745px;
  width: 381px;
  border-radius: 20px;
  right: 2%;
  position: absolute;
  display: grid;
  align-content: space-around;
  justify-content: space-around;
}
.expense {
  background-color: #ffffff;
  height: 284px;
  width: 90%;
  margin-top: 60px;
  border-radius: 20px;
  z-index: 1;
  display: grid;
  position: relative;
  align-items: center;
  align-content: space-evenly;
  flex-shrink: 0;
}

.totalexpense {
  background-color: #84b9ff;
  height: 100px;
  width: 90%;
  margin-top: 60px;
  border-radius: 20px;
  z-index: 1;
  display: grid;
  position: relative;
  justify-content: center;
  font-size: x-large;
  align-content: space-evenly;
  flex-shrink: 0;
}

.expensetext {
  font-family: "Nunito", sans-serif;
  color: #2c3e50;
  margin-left: 20px;
  line-height: 1;
  font-size: 18px;
}

.actionbox {
  background-color: #eaf4ff;
  height: 81px;
  width: 333px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.text {
  color: #000000;
  text-align: center;
  font-size: 24px;
  font-family: Inknut Antiqua;
  position: relative;
  line-height: auto;
  border-style: hidden;
  outline: none;
  z-index: 1;
}
/* -------------------------------------------------------------------------------------------------------------------- */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: none;
  justify-content: center;
  align-items: center;
}

#modal,
#modal3 {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  justify-content: space-around;
  display: grid;
  position: relative;
  height: 650px;
  width: 500px;
}

#modals1,
#modals2{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  justify-content: space-around;
  display: grid;
  position: relative;
  height: 284px;
  width: 250px;
}

#modal h2 {
  margin-top: 0;
}

input {
  background: #ffffff;
  color: #696969;
  border-radius: 5px;
  border-color: #d1cccc;
  font-size: 18px;
  font-family: Inknut Antiqua;
  height: 20px;
}

label {
  color: #000000;
  font-size: 18px;
}

select {
  background: #ffffff;
  color: #696969;
  border-radius: 5px;
  border-color: #d1cccc;
  font-size: 18px;
  font-family: Inknut Antiqua;
  height: 28px;
}

button {
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
}
